<div class="banner d-flex justify-content-between align-items-center mb-5" style="background-color: #f0f0f0; height: 60px">
    <a href="/personal-website/tab_research" class="topic-link d-flex justify-content-center align-items-center text-gray" style="flex: 1; display: flex; justify-content: center; align-items: center; text-align: center;">
        <p style="line-height: 1.5; margin: 0;">RESEARCH</p>
    </a>
    <a href="/personal-website/tab_outreach" class="topic-link d-flex justify-content-center align-items-center text-gray" style="flex: 1; display: flex; justify-content: center; align-items: center; text-align: center;">
        <p style="line-height: 1.5; margin: 0;">OUTREACH</p>
    </a>
    <a href="/personal-website/tab_curriculum" class="topic-link d-flex justify-content-center align-items-center text-gray" style="flex: 1; display: flex; justify-content: center; align-items: center; text-align: center;">
        <p style="line-height: 1.5; margin: 0;">CURRICULUM</p>
    </a>
    <div class="ml-auto">
        <button class="language-button" onclick="setLanguage('en')">EN</button>
        <button class="language-button" onclick="setLanguage('es')">ES</button>
    </div>
</div>
