<div class="banner d-flex justify-content-between align-items-center mb-5" style="background-color: #f0f0f0;">
    <a href="/tab1.html" class="topic-link d-flex justify-content-center align-items-center text-gray" style="flex: 1; display: flex; justify-content: center; align-items: center; text-align: center;">
        <p>Tab 1</p>
    </a>
    <a href="/tab2.html" class="topic-link d-flex justify-content-center align-items-center text-gray" style="flex: 1; display: flex; justify-content: center; align-items: center; text-align: center;">
        <p>Tab 2</p>
    </a>
</div>
