---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.language-link {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    line-height: 1.5;
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    color: #586069;
}

.language-link i {
  margin-right: 5px; 
}

.hidden {
    display: none !important;
}

.bg-image {
    position: relative;
    overflow: hidden; 
}

.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://raw.githubusercontent.com/ValeEspinozaF/personal-website/refs/heads/master/assets/images/Andes_globe_vertical_nobackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    opacity: 0.8; 
    z-index: -1; 
}

@media (max-width: 768px) {
  .hide-on-small {
    display: none !important;
  }

  .show-on-small {
    display: block !important;
  }
  
  .bg-image::before {
    background-image: url('https://raw.githubusercontent.com/ValeEspinozaF/personal-website/refs/heads/master/assets/images/Andes_globe_horizontal_nobackground.png');
  }
}

ul {
  margin-top: 18px;
  margin-bottom: 30px;
}

li {
  padding-left: 13px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 26px;
    list-style-position: inside; 
  }

  li ul, li ol {
    padding-left: 26px;
    margin-bottom: 10px;
  }
}

#parent {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 190px);
}
#child1 {
  flex-grow: 1;
}
.highlight {
  font-weight: bold; 
}

.conference {
  font-weight: bold; 
}

.min-height-full {
  min-height: 100vh;
}
